<html>

<head>
	<title>Demo Socket IO</title>
	<script src="jquery.js"></script>
	<script src="socket.io/socket.io.js"></script>
	<script>

		//gọi điện lên server
		var socket = io("http://localhost:3000");
		$(document).ready(function () {
			alert("hello jquery");
		});
	</script>
</head>

<body>
	Hello World!
</body>

</html>